In [112]:
import pandas as pd

movies_df = pd.read_csv("../../edit_data/cleaned_data/movies.csv")
movies_df.head()

,Id,Original_Title,Original_Language,Spoken_Languages,Budget,Revenue,Runtime,Release_Date,Production_Companies,Production_Countries,imdb_id,Popularity,Vote_Average,Vote_Count,Belongs_To_Collection,Tagline,Overview,Genres
0,862,Toy Story,en,"[{'iso_639_1': 'en', 'name': 'English'}]",30000000.0,373554033.0,81.0,1995-10-30,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",tt0114709,21.946943,7.7,5415.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",65000000.0,262797249.0,104.0,1995-12-15,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",tt0113497,17.015539,6.9,2413.0,NaN,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'iso_639_1': 'en', 'name': 'English'}]",0.0,0.0,101.0,1995-12-22,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",tt0113228,11.712900,6.5,92.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'iso_639_1': 'en', 'name': 'English'}]",16000000.0,81452156.0,127.0,1995-12-22,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",tt0114885,3.859495,6.1,34.0,NaN,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'iso_639_1': 'en', 'name': 'English'}]",0.0,76578911.0,106.0,1995-02-10,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",tt0113041,8.387519,5.7,173.0,"{'id': 96871, 'name': 'Father of the Bride Col...",Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

#### Parse ['Genres']

In [113]:
import json

# First - convert ' to "
genres = movies_df.Genres.replace("\'","\"")

# Loop the list in the cell to convert to json data. 
for i in range(len(genres)):
    genres[i] = movies_df.Genres[i].replace("\'","\"")
    genres[i] = json.loads(genres[i])


# parse genres JSON data and save it back as list
all_genres = []

for each_film in genres:
    new_list=[]
    for item in each_film:
        new_item = item['name']
        new_list.append(new_item)
    each_film = new_list
    # print(each_film)
    all_genres.append(each_film)

#assign the list as ['Genres']
movies_df['Genres'] = all_genres

#### Parse ['Spoken_Languages']

In [116]:
# First - convert ' to "
languages = movies_df.Spoken_Languages.replace("\'","\"")

# Loop the list in the cell to convert to json data. 
 
for i in range(len(languages)):
    languages[i] = movies_df.Spoken_Languages[i].replace("\'","\"")
    try:
        languages[i] = json.loads(languages[i])
    except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass

In [117]:
# parse genres JSON data and save it back as list
all_languages = []

for each_film in languages:
    new_list=[]
    for item in each_film:
        try:
            new_item = item['name']
            new_list.append(new_item)
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    each_film = new_list
    
    all_languages.append(each_film)

movies_df['Spoken_Languages'] = all_languages

#### Parse ['Production_Companies']

In [119]:
# First - convert ' to "
companies = movies_df.Production_Companies.replace("\'","\"")

# Loop the list in the cell to convert to json data. 
 
for i in range(len(companies)):
    companies[i] = movies_df.Production_Companies[i].replace("\'","\"")
    try:
        companies[i] = json.loads(companies[i])
    except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass

In [120]:
# parse genres JSON data and save it back as list
all_companies = []

for each_film in languages:
    new_list=[]
    for item in each_film:
        try:
            new_item = item['name']
            new_list.append(new_item)
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    each_film = new_list
    
    all_companies.append(each_film)

movies_df['Production_Companies'] = all_companies

In [121]:
movies_df['Production_Companies']

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
44879                [فارسی]
44880                     []
44881              [English]
44882                     []
44883              [English]
Name: Production_Companies, Length: 44884, dtype: object

#### Parse ['Production_Countries']

In [122]:
# First - convert ' to "
countries = movies_df.Production_Countries.replace("\'","\"")

# Loop the list in the cell to convert to json data. 
 
for i in range(len(companies)):
    countries[i] = movies_df.Production_Countries[i].replace("\'","\"")
    try:
        countries[i] = json.loads(countries[i])
    except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass

In [123]:
# parse genres JSON data and save it back as list
all_countries = []

for each_film in countries:
    new_list=[]
    for item in each_film:
        try:
            new_item = item['name']
            new_list.append(new_item)
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    each_film = new_list
    
    all_countries.append(each_film)

movies_df['Production_Countries'] = all_countries

#### Parse ['Belongs_To_Collection']

In [134]:
collections = movies_df.Belongs_To_Collection.replace("\'","\"")
len(movies_df.Belongs_To_Collection)

44884

In [137]:
# First - convert ' to "
collections = movies_df.Belongs_To_Collection.replace("\'","\"")

# Loop the list in the cell to convert to json data. 
for i in range(len(collections)):
    try:
        # collections[i] = movies_df.Belongs_To_Collection[i].replace("\'","\"")
        collections[i] = json.loads(collections[i])
    except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass

In [139]:
# parse genres JSON data and save it back as list
all_countries = []

for each_film in countries:
    new_list=[]
    for item in each_film:
        try:
            new_item = item['name']
            new_list.append(new_item)
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    each_film = new_list
    
    all_countries.append(each_film)

movies_df['Production_Countries'] = all_countries

In [140]:
movies_df.head()

,Id,Original_Title,Original_Language,Spoken_Languages,Budget,Revenue,Runtime,Release_Date,Production_Companies,Production_Countries,imdb_id,Popularity,Vote_Average,Vote_Count,Belongs_To_Collection,Tagline,Overview,Genres
0,862,Toy Story,en,[English],30000000.0,373554033.0,81.0,1995-10-30,[English],[United States of America],tt0114709,21.946943,7.7,5415.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]"
1,8844,Jumanji,en,"[English, Français]",65000000.0,262797249.0,104.0,1995-12-15,"[English, Français]",[United States of America],tt0113497,17.015539,6.9,2413.0,NaN,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]"
2,15602,Grumpier Old Men,en,[English],0.0,0.0,101.0,1995-12-22,[English],[United States of America],tt0113228,11.712900,6.5,92.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"[Romance, Comedy]"
3,31357,Waiting to Exhale,en,[English],16000000.0,81452156.0,127.0,1995-12-22,[English],[United States of America],tt0114885,3.859495,6.1,34.0,NaN,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]"
4,11862,Father of the Bride Part II,en,[English],0.0,76578911.0,106.0,1995-02-10,[English],[United States of America],tt0113041,8.387519,5.7,173.0,"{'id': 96871, 'name': 'Father of the Bride Col...",Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,[Comedy]

#### Save in the latest cleaned_data folder

In [141]:
from pathlib import Path  
filepath = Path('../../edit_data/cleaned_data/movies.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
movies_df.to_csv(filepath)

In [142]:
# Test to ensure new changes are in csv
new_df = pd.read_csv("../../edit_data/cleaned_data/movies.csv")
new_df.head()

,Unnamed: 0,Id,Original_Title,Original_Language,Spoken_Languages,Budget,Revenue,Runtime,Release_Date,Production_Companies,Production_Countries,imdb_id,Popularity,Vote_Average,Vote_Count,Belongs_To_Collection,Tagline,Overview,Genres
0,0,862,Toy Story,en,['English'],30000000.0,373554033.0,81.0,1995-10-30,['English'],['United States of America'],tt0114709,21.946943,7.7,5415.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"Led by Woody, Andy's toys live happily in his ...","['Animation', 'Comedy', 'Family']"
1,1,8844,Jumanji,en,"['English', 'Français']",65000000.0,262797249.0,104.0,1995-12-15,"['English', 'Français']",['United States of America'],tt0113497,17.015539,6.9,2413.0,NaN,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"['Adventure', 'Fantasy', 'Family']"
2,2,15602,Grumpier Old Men,en,['English'],0.0,0.0,101.0,1995-12-22,['English'],['United States of America'],tt0113228,11.712900,6.5,92.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"['Romance', 'Comedy']"
3,3,31357,Waiting to Exhale,en,['English'],16000000.0,81452156.0,127.0,1995-12-22,['English'],['United States of America'],tt0114885,3.859495,6.1,34.0,NaN,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","['Comedy', 'Drama', 'Romance']"
4,4,11862,Father of the Bride Part II,en,['English'],0.0,76578911.0,106.0,1995-02-10,['English'],['United States of America'],tt0113041,8.387519,5.7,173.0,"{'id': 96871, 'name': 'Father of the Bride Col...",Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,['Comedy']